<div class="min-h-full">
  <%= render "helpers/navbar" %>
  <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <!-- Replace with your content -->
      <%= render "helpers/charts" %>
      <!-- /End replace -->
    </div>
  </main>
</div>
