<div id="<%= dom_id food %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Taco:</strong>
    <%= food.taco_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this food", food, class: "ml-2 rounded-lg py-3 px-5 bg-gray-500 inline-block font-medium  text-white" %>
    
    <hr class="mt-6">
  <% end %>
</div>
